.center {
  text-align: center;
}

.container {
  margin-top: 20px;
  padding: 10px;
}

hr {
  margin: 20px auto;
  opacity: 0.2;
}

textarea {
  font-family: Lato, 'PingFang SC', 'Microsoft YaHei', 'Source Sans Pro',
    'Segoe UI', Arial, sans-serif;
}